
.i {
  margin-top: 65px;
  margin-left: 39%;
}
.i img {
  margin-top: 30px;
  height: 30px;
}
.v {
  margin-left: 10%;
  margin-top: 3%;
}
.v h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: rgb(255, 213, 195);

}
.zpz {
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}
.zp1 {
  background-color: #f2f3f5;
  height: 150px;
  width: 350px;
  border-radius: 20px;
  padding: 10px;
}
.zp2 {
  background-color: rgb(247, 240, 237);
  margin-left: 3%;
  height: 220px;
  width: 350px;
  border-radius: 20px;
  padding: 10px;
}
.zp3 {
  background-color: #f2f3f5;
  margin-left: 3%;
  height: 290px;
  width: 350px;
  border-radius: 20px;
  padding: 10px;
}
.p1 {
  margin-left: 2%;
}
.p2 {
  font-family: fantasy;
  font-size: 30px;
}
.zpp1 {
  padding-top: 18%;
  margin-bottom: 1%;
}
.zpp3 {
  padding-top: 38%;
  margin-bottom: 1%;
}
.zpp4 {
  padding-top: 58%;
  margin-bottom: 1%;
}
.tt {
  font-weight: 900;
  font-size: larger;
}
.sofia {
  background-color: rgb(247, 240, 237);
  display: flex;
  padding-top: 3%;
  
}
.gran {
  margin-left: 10%;
  display: inline-block;
}
.gran h1 {
  font-family: GothamPro;
  color: rgb(123, 61, 61);
  font-size: 300%;
}
.cont {
  background-color: white;
  display: block;
  width: 580px;
  height: 260px;
  border-radius: 50px;
  padding: 1%;
  
}
.con1 {
  margin-left: 13%;
}
.s1{
    display: inline-block;
}
.con2{
 margin-left: 10%;
}
.con3{
    margin-left: 4%;
}
.con4{
    margin-left: 10%;
}
.con5{
    margin-left: 4%;
}
.bor{
    border-radius: 50%;
    margin-bottom: 20px;
}
.poop{
    margin-top: 10px;
    font-size: 80%;
}
.ccc{
    background-color: rgb(247, 240, 237);
    height: 100px;
}
@media screen and (min-width:320px) and (max-width:767px) {
  body{
    position:absolute;
  }
  .oplata{
    margin-left: 10%;
  }
  
}